.header{
    height: 15%;
    width: 100%;
    background: linear-gradient(90deg, rgba(231,102,28,1) 0%, rgba(231,102,28,1) 39%, #FFDC04 63%, #FFDC04 100%);
    border-radius:  0rem 0rem 3rem 0rem;
}

.img{
    width: 100%;
    height: 100%;
    // transform: scale(1.5);
}

.card-blanco{
    // height: 20%;
    width: 100%;
    background-color: #ffffff;
    border: none;
}

.card-gris{
    // height: 20%;
    width: 100%;
    background-color: #f9b90e;
    border: none;
}
// Pipiolo leaner

// text - monserrat
body{
    background: linear-gradient(90deg, rgba(231,102,28,1) 0%, rgba(231,102,28,1) 39%, rgb(255, 255, 255) 63%, rgb(255, 255, 255) 100%);
    color: #5b5b5b;
}

i{
    font-size: x-large;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

h3{
    font-size: x-large;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

h5{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    font-size: small;
    margin-bottom: 1.5rem;
}

.container{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

button{
    font-weight: 500;   
    font-family: 'Montserrat', sans-serif;
    background-color: #f9b90e;
}