<body class="">
    <div class="header">
        <img src="../../../assets/img/Group 1 (1).svg" alt="">
    </div>
    <div class="card-blanco d-flex align-items-center" style="
    border-radius:  3rem 0rem 0rem 0rem;">
        <div class="container text-center aling-item-center">
            <h3>PIPIOLO</h3>
            <h5>DEL LUNFARDO "JOVEN INEXPERTO"</h5>
        </div>
    </div>
    <div class="card-gris d-flex align-items-center">
        <div class="container">
            <p><i class="fa-solid fa-users pe-2"></i> 3-6 jugadores</p>
            <p><i class="fa-solid fa-chess pe-2"></i> El tablero contiene 62 casillero (tiene su inicio en la
                izquierda terminando en su parte derecha).</p>

            <p>Una ficha para cada jugador, un dado, un reloj de arena
                y un lápiz con libreta.</p>
        </div>
    </div>
    <div class="card-blanco d-flex align-items-center text-end">
        <div class="container">
            <p>
                Dificultad media, de aprendizaje rápido
                <i class="fab fa-deezer pe-2"></i>
            </p>
            <p>
                Tiempo aproximado de juego 30 minutos
                <i class="fas fa-hourglass-half pe-2"></i>
            </p>
            <p>
                Recorrer todo el circuito para lograr finalizarlo
                primero con un numero exacto de dado. 
                <i class="fas fa-bullseye pe-2"></i>
            </p>
        </div>
    </div>
    <div class="card-gris d-flex align-items-center">
        <div class="container">
            <p>
                <i class="fas fa-scroll pe-2"></i>
                Es un juego de mesa destinado a aficionados en el
                diseño gráfico o con interés en incursionar en ese
                mundo. Los temas que se verán reflejados en el juego
                serán acerca de: tipografía, computación gráfica, dibujo
                a mano alzada, psicología de la percepción, referentes
                del diseño, entre otras.
            </p>
        </div>
    </div>
    <div class="card-blanco d-flex align-items-center text-end">
        <div class="container">
            <p>
                Durante la dinámica del juego irán saliendo
                tarjetas en donde se deberán responder preguntas;
                en otras ocasiones realizar retos que se presenten
                en las cartas, como así también comodines que
                servirán para el transcurso del juego.
                <i class="fas fa-scroll pe-2"></i>
            </p>
            <div class="text-center mb-4 mt-4">
                <button class="btn bg-color-first color-white" routerLink="/home">VOLVER</button>
            </div>
        </div>
    </div>
</body>





<!-- 1ro -->

<!-- 2ro -->

<!-- 3ro -->