<div class="contenedor">
    <div class="contaner-fluid">
        <div class="">
            <!-- <img class="atras" id="at" src="../../../assets/img/fondo naranja.svg" alt=""> -->
            <img class="atras" id="at" src="src\assets\img\fondo naranja.svg" alt="">
            <!-- <img class="frenteNone" id="fr" src="../../../assets/img/frente.svg" alt="" routerLink="/reglas"> -->
            <img class="frenteNone" id="fr" src="src\assets\img\frente.svg" alt="" routerLink="/reglas">
        </div>
    </div>
</div>
